---
---

<footer id="footer" class="footer">
    <div class="container">
        <div class="footer-main">
            <a href="" class="footer-main__button">Back to Cogdill Farm Supply</a>
            <a href="" class="footer-main__button">See Job Opportunities</a>
        </div>
    </div>
</footer>
<style>
    /*== == == == ==>footer<== == == == == */
    .footer {
        background: var(--color-4000);
        padding: 40px 0;
    }
    .footer-main {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: center;
    }
    .footer-main__button {
        font-size: 16px;
        color: var(--color-secondary);
        line-height: 1.2;
        display: block;
    }
    .footer-main__button:hover {
        color: var(--white);
    }
</style>
