---
import image from '@images/common/hero.webp';
---

<header id="header" class="header">
    <picture class="header__image">
        <img src={image} alt="image" />
    </picture>
    <div class="container">
        <div class="header__buttons">
            <a href="/" class="button">Back to Cogdill Farm Supply</a>
            <a href="/job.html" class="button">See Job Opportunities</a>
        </div>
    </div>
</header>
<style>
    .header__image,
    .header__image img {
        display: block;
        width: 100%;
    }
    .header__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
        padding: 60px 0;
    }
    @media screen and (max-width: 768px) {
        .header__buttons {
            padding: 40px 0;
            gap: 20px;
        }
    }
</style>
