---
import Layout from '@layout';
---

<Layout title="job">
    <!-- job-detail -->
    <section class="job-detail">
        <div class="container">
            <h3 class="title">Job Title</h3>
            <h4 class="job-detail__title">Full Time | Logan</h4>
            <div class="job-detail__block">
                <h6 class="job-detail__block__title">First Headline</h6>
                <p class="text">
                    Les dolorum re, sum, seque nos mintiatem re nem reproruptat. Porenemqui ipicimint volupturis excerum
                    quatis aut laborer natisqui sequia as estibus ad mintio. Et moluptam earist auda nam lam quam, si
                    vitiumet et, que de que di tem harcil ipitae. Et adi nosa porestem faccuptatqui qui officipsam volo
                    blanditatis explign ihiliquia doles quia se eturio volupiet et, sitinto quibusciet aut lictae eosam
                    ressitas es sant eossit, optatem que esciis rero quam es eumet molupta net a culluptur ariatis
                    aperessim es et volut ute cum quunt offictem doluptaqui ad expliquae sim volorecatur?
                </p>
            </div>
            <div class="job-detail__block">
                <h6 class="job-detail__block__title">Second Headline</h6>
                <p class="text">
                    Lorempostias pa quaesti blacidu ciliquia nullupt atiatur? Ment as nossitatem cus ape nonseditibus
                    dellibus ipsus, ut volorro ea nectur, ut officimet eosam reperferem. Tius. Catatem fugiatur.
                </p>
                <p class="text">Nonsequia ate nias ven</p>
                <p class="text">Officipsam vol</p>
                <p class="text">De que di tem harc</p>
            </div>
            <div class="job-detail__button">
                <a href="" class="button">Apply Now</a>
            </div>
        </div>
    </section>
    <!-- end job-detail -->
</Layout>
<style>
    /*== == == == ==>job detail<== == == == == */
    .job-detail {
        text-align: center;
        padding: 40px 0 100px;
    }
    .job-detail__title {
        font-size: 37px;
        line-height: 1.4;
        margin-top: 8px;
    }
    .job-detail__block {
        padding-top: 50px;
        display: block;
        max-width: 650px;
        margin: 0 auto;
    }
    .job-detail__block__title {
        font-size: 25px;
        line-height: 1.2;
        font-weight: bold;
        padding-bottom: 15px;
    }
    .job-detail p + p {
        margin-top: 16px;
    }
    .job-detail__button {
        padding-top: 45px;
    }
</style>
